name: Master
on:
  push:
    branches:
      - master

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest

    steps:
    - name: Setup go
      uses: actions/setup-go@v2
      with:
        go-version: 1.16.x

    - name: Checkout code
      uses: actions/checkout@v2

    - name: Build the stack
      run: docker-compose -f build/docker-compose.yml up -d

    - name: Test
      run: make test

    - name: Down the stack
      if: always()
      run: docker-compose -f build/docker-compose.yml down -v

    - name: Upload coverage
      env:
        COVERALLS_TOKEN: ${{ secrets.COVERALLS_TOKEN }}
      run: |
        go get github.com/mattn/goveralls
        $(go env GOPATH | awk 'BEGIN{FS=":"} {print $1}')/bin/goveralls -coverprofile=tests.out -service travis-ci -repotoken $COVERALLS_TOKEN
